<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Arignar Anna Zoological Park</title>
    <link rel="stylesheet" href="/styles/location.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">

    <img src="/images/Arignar Anna Zoological Park.jpg" alt="Arignar Anna Zoological Park-image">
    <h2>Arignar Anna Zoological Park</h2>
    <p>Arignar Anna Zoological Park, also known as the Vandalur Zoo, is a zoological garden located in Vandalur, is in the southwestern part of Chennai, Tamil Nadu, about 31 kilometres from the Chennai Central and 15 kilometres from Chennai Airport. Established in 1855, it is the first public zoo in India. Wikipedia Area: 6.03 km² Opened: 24 July 1985 No. of animals: 2,644 (2018) No. of species: 171 (2018)</p>

    </div>
  </body>
</html>
