<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>tourism</title>
  <!-- css file -->
  <link rel="stylesheet" href="/styles/place.css">
  <!-- bootstrap link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="images/Marina Beach.jpg" class="card-img-top" alt="Marina Beach">
      <div class="card-body">
        <h3 class="card-title">Marina Beach</h3>
        <p class="card-text">Marina Beach is a natural urban beach in Chennai, Tamil Nadu, India, along the Bay of Ben...<a href="/chennei/mbc">Read More</a></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="images/Fort St. George.jpg" class="card-img-top" alt="Fort St. George">
      <div class="card-body">
        <h3 class="card-title">Fort St. George</h3>
        <p class="card-text">Fort St George is the first English fortress in India, founded in 1644 at the coastal city...<a href="/chennei/fgc">Read More</a></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="images/Government Museum Chennai.jpg" class="card-img-top" alt="Government Museum Chennai">
      <div class="card-body">
        <h3 class="card-title">Government Museum Chennai</h3>
        <p class="card-text">The Government Museum or Madras Museum is a museum of human history and culture located...<a href="/chennei/gmc">Read More</a></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="images/Arignar Anna Zoological Park.jpg" class="card-img-top" alt="Arignar Anna Zoological Park">
      <div class="card-body">
        <h3 class="card-title">Arignar Anna Zoological Park</h3>
        <p class="card-text">Arignar Anna Zoological Park, also known as the Vandalur Zoo, is a zoological garden...<a href="/chennei/ac">Read More</a></p>
      </div>
    </div>
  </div>
</div>

</body>

</html>
