<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chhatrapati Shivaji Terminus</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/location.css">
  </head>
  <body>
    <div class="container">

    <img src="/images/CSTM.jpg" alt="CSTM-image">
    <h2>Chhatrapati Shivaji Terminus</h2>
    <p>Chhatrapati Shivaji Maharaj Terminus, also known by its former name Victoria Terminus, is a historic terminal train station and UNESCO World Heritage Site in Mumbai, Maharashtra, India. The terminus was designed by British born architectural engineer Frederick William Stevens, in an exuberant Italian Gothic style. Wikipedia Opened: May 1888 Architectural style: Indo-Saracenic architecture Platforms in use: 18 Former names: Victoria Terminus; Bori Bunder Railway Station Engineer: Frederick William Stevens Architects: Frederick William Stevens, Axel Haig</p>

    </div>
  </body>
</html>
