<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gateway Of India Mumbai</title>
    <link rel="stylesheet" href="/styles/location.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">

    <img src="/images/gateway of india.jpg" alt="Gateway Of India Mumbai-image">
    <h2>Gateway Of India Mumbai</h2>
    <p>The Gateway of India is an arch-monument built in the early twentieth century in the city of Mumbai, in the Indian state of Maharashtra. It was erected to commemorate the landing in December 1911 at Apollo Bunder, Mumbai of King-Emperor George V and Queen-Empress Mary, the first British monarch to visit India. Opened: 4 December 1924 Height: 26 m Construction started: 31 March 1913 Architectural style: Indo-Saracenic architecture Architecture firm: Gammon India Architect: George Wittet</p>

    </div>
  </body>
</html>
