<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>tourism</title>
  <!-- css file -->
  <link rel="stylesheet" href="/styles/place.css">
  <!-- bootstrap link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="images/Victoria Memorial.jpg" class="card-img-top" alt="Victoria Memorial">
      <div class="card-body">
        <h3 class="card-title">Victoria Memorial</h3>
        <p class="card-text">The Victoria Memorial is a large marble building in Kolkata, West Bengal, India, which was built...<a href="/kolkata/vmk">Read More</a></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="images/Indian Museum.jpg" class="card-img-top" alt="Indian Museum">
      <div class="card-body">
        <h3 class="card-title">Indian Museum</h3>
        <p class="card-text">The Indian Museum in Kolkata, West Bengal, India, also referred to as the Imperial Museum...<a href="/kolkata/imk">Read More</a></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="images/Howrah Bridge.jpg" class="card-img-top" alt="Howrah Bridge">
      <div class="card-body">
        <h3 class="card-title">Howrah Bridge</h3>
        <p class="card-text">Howrah Bridge is a bridge with a suspended span over the Hooghly River in West Bengal,...<a href="/kolkata/hbk">Read More</a></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="images/Dakshineswar Kali Temple.jpg" class="card-img-top" alt="Dakshineswar Kali Temple">
      <div class="card-body">
        <h3 class="card-title">Dakshineswar Kali Temple</h3>
        <p class="card-text">Dakshineswar Kali Temple is a Hindu navaratna temple located at Dakshineswar....<a href="/kolkata/dktk">Read More</a></p>
      </div>
    </div>
  </div>
</div>

</body>

</html>
