<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Marina Beach</title>
    <link rel="stylesheet" href="/styles/location.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">

    <img src="/images/Marina Beach.jpg" alt="Marina Beach-image">
    <h2>Marina Beach</h2>
    <p>Marina Beach is a natural urban beach in Chennai, Tamil Nadu, India, along the Bay of Bengal. The beach runs from near Fort St. George in the north to Foreshore Estate in the south, a distance of 6.0 km, making it the longest natural urban beach in the country. Wikipedia Location: Chennai, Tamil Nadu, India Total length: 13 km (8.1 mi) Maximum width: 437 m (1,434 ft) Length of promenade: 6 km (3.7 mi) Coast: Coromandel, Bay of Bengal</p>

    </div>
  </body>
</html>
