<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Delhi</title>
    <link rel="stylesheet" href="/styles/location.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">

    <img src="/images/New Delhi.jpg" alt="New Delhi-image">
    <h2>New Delhi</h2>
    <p>New Delhi is an urban district located in the city of Delhi. New Delhi
        serves as the capital of India and the seat of all three branches of the
        Government of India. The foundation stone of New Delhi was laid by
        Emperor George V during the Delhi Durbar of 1911. It was designed
        by British architects Sir Edwin Lutyens and Sir Herbert Baker. The
        new capital was inaugurated on 13 February 1931, by Viceroy and
        Governor-General of India Lord Irwin. Although colloquially Delhi and
        New Delhi are used interchangeably to refer to the National Capital
        Territory of Delhi, these are two distinct entities, with New Delhi
        forming a small part of the city of Delhi. The National Capital Region
        is a much larger entity comprising the entire NCT along with
        adjoining districts in neighbouring states.
      </p>

    </div>
  </body>
</html>
